
/*Portada*/

#img_articulo{
	border-radius: 5px;
}

#div_img_articulo{
	float:left;
	margin-right:10px;
}

#editar_articulo{
	float:right;
	margin-right:60px;
}

#escrito_por{
	margin-top:30px;
	font-size:14px;

}

#fecha_articulo{
	text-align:right;
	width:60%;
	margin-top:30px;

}